<div *ngIf="examen" class="pb-20">
    <div class="bg-primaryColor shadow">
        <div class="w-11/12 mr-auto ml-auto py-4 text-center flex items-center justify-between">
            <img src="assets/img/examen/logo-examen.png">
            <!-- <div class="text-white p-2">
                <p> El exámen se cerrará en </p>
                <div class="text-center w-max mr-auto ml-auto font-semibold px-2">
                    <p [ngClass]="{'text-red-400 animate-pulse-fast':estadoTiempo === 'Poco', 'text-orange-300 animate-pulse':estadoTiempo === 'Medio' ,'text-white':estadoTiempo === 'Mucho'}" class="font-semibold text-lg">
                        {{ cerrandoExamen ? 'Cerrando examen' : tiempo }}
                    </p>
                </div>
            </div> -->
            <div class="text-white">
                <p> Simulación </p>
                <p class="text-xl"> Examen teórico </p>
            </div> 
        </div>
    </div>
    <div class="flex w-11/12 mr-auto ml-auto">
        <div class="py-5 w-full">
            <div class="border border-gray-300 rounded shadow">
                <h1 class="bg-primaryColor text-white p-2 rounded-t text-2xl"> Pregunta {{ nroPregunta + 1 }} de {{ preguntas.length }} </h1>
                <div class="px-2 py-5">
                    <p class="text-2xl"> {{ preguntas[nroPregunta].descripcion }} </p>
                </div>
            </div>
            <div>
                <img *ngIf='preguntas[nroPregunta].url_img' class="w-40 h-40 mt-3" [src]="urlBase + '/img/' + preguntas[nroPregunta].url_img" alt="Imagen de señal">
            </div>
            <div class="mt-4">
                <div (click)="seleccionarPregunta('A')" [ngClass]="{'bg-pink-100 text-secondaryColor border-pink-200' : respuestaSeleccionada == 'A'}" class="text-xl mt-5 p-4 shadow bg-gray-100 rounded border cursor-pointer">
                    <span class="font-semibold"> A </span>
                    <span> - {{ mostrarRespuestas.a.descripcion }} </span>
                </div>
                <div (click)="seleccionarPregunta('B')" [ngClass]="{'bg-pink-100 text-secondaryColor border-pink-200' : respuestaSeleccionada == 'B'}" class="text-xl mt-4 p-4 bg-gray-100 shadow rounded border cursor-pointer">
                    <span class="font-semibold"> B </span>
                    <span> - {{ mostrarRespuestas.b.descripcion }} </span>
                </div>
                <div (click)="seleccionarPregunta('C')" [ngClass]="{'bg-pink-100 text-secondaryColor border-pink-200' : respuestaSeleccionada == 'C'}" class="text-xl mt-4 p-4 bg-gray-100 shadow rounded border cursor-pointer">
                    <span class="font-semibold"> C </span>
                    <span> - {{ mostrarRespuestas.c.descripcion }} </span>
                </div>
            </div>
        </div>
    </div>
    <div class="gsap-respuestas flex items-center mr-auto ml-auto text-center w-11/12">
        <button (click)="incDecNro('dec')" [disabled]="nroPregunta <= 0" [ngClass]="{'bg-blue-200' : nroPregunta <= 0, 'bg-primaryColor' : nroPregunta > 0}" class="text-white shadow-lg rounded w-full text-xl font-semibold p-4 border shadow"> Pregunta anterior </button>
        <button *ngIf="nroPregunta < (examen.preguntas.length - 1)" (click)="incDecNro('inc')" [disabled]="nroPregunta >= (examen.preguntas.length - 1)" [ngClass]="{'bg-blue-200' : nroPregunta >= (examen.preguntas.length - 2), 'bg-primaryColor' : nroPregunta <= (examen.preguntas.length - 2)}"
            class="ml-2 text-white shadow-lg rounded w-full text-xl font-semibold p-4 border shadow"> Siguiente pregunta </button>
        <button *ngIf="nroPregunta >= (examen.preguntas.length - 1)" (click)="finalizarExamen()" class="ml-2 bg-green-700 text-white shadow-lg rounded w-full text-xl font-semibold p-4 border shadow"> Finalizar examen </button>
    </div>
</div>